<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.locosoft.fold.channel">
      <channel
            description="receive and send short text messages and other data"
            id="chatter"
            implementation="net.locosoft.fold.channel.chatter.internal.ChatterChannel">
      </channel>
   </extension>

</plugin>
