<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.locosoft.fold.packaging.application"
            name="fold">
         <property
               name="appName"
               value="fold">
         </property>
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.locosoft.fold.packaging.FoldApplication">
         </run>
      </application>
   </extension>

</plugin>
