<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.locosoft.fold.sketch">
      <sketch
            id="test"
            implementation="net.locosoft.fold.sketch.pad.ITestSketch$Impl">
      </sketch>
      <sketch
            id="net.locosoft.fold.sketch.pad.neo4j.INeo4jPropertyAccess"
            implementation="net.locosoft.fold.sketch.pad.neo4j.INeo4jPropertyAccess$Impl">
      </sketch>
      <sketch
            id="net.locosoft.fold.sketch.pad.neo4j.INeo4jCounterProperty"
            implementation="net.locosoft.fold.sketch.pad.neo4j.INeo4jCounterProperty$Impl">
      </sketch>
      <sketch
            id="net.locosoft.fold.sketch.pad.neo4j.INeo4jHierarchyNode"
            implementation="net.locosoft.fold.sketch.pad.neo4j.INeo4jHierarchyNode$Impl">
      </sketch>
   </extension>

</plugin>
